<!--<ion-view class="FirstpageScreen">
     <ion-header-bar class="bar-stable" style=" text-align: center">
        <h1 class="title">Welcome To Application</h1>
      </ion-header-bar>
<div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="ion-ios-copy-outline"></i>
    Home
  </a>
</div>
</ion-view>-->
<ion-view view-title="Firstpage" >
   <ion-header-bar class="bar-stable">
        <h1 class="title">Welcome To Application</h1>
      </ion-header-bar>
  <div style="margin-top:100px">
      <button class="button button-block button-calm" ng-click="getDataFromWebsite()">Get</button>
  </div>
  <div style="margin-top:10px" ng-model="IpValue">
   <!--<button class="button button-block button-calm" ng-click="getDataFromWebsite()">{{IpValue.ip}}</button>-->
   <label> Your Ip is: {{IpValue.Name}}</label>
    </div>
    
    <div>
      <button ng-click="GotoNotePadApplication()">Notepad</button>  
    </div>
</ion-view>