<ion-view class="login_screen_bg">
    <div class="row row-bottom">
     <img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg"  />
 </div>
   <div style="text-align:left" class="forgotitem">
       Reset your Ionic Account password
   </div>
     <div style="text-align:left" class="forgotitembelow">
      Enter your email below to reset your password.
   </div>

  </div>
  <div class="item item-input-inset" style="margin-top:10px">
      <input type="text" placeholder="Email" ng-model="EmailIdForData">
    </div>
<div style="margin-left:1px">
 <button class="button button-positive" style="margin-top:5px" ng-click="forgotPasswordClick(EmailIdForData)">
  Submit
</button>
</div>

</ion-view>