 <ion-view class="splash_screen_bg">
     <!--<div class="mainBackground">
       <img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg"  width="223" height="143" />
       </div>
       <div style="margin-top:460px">
      <button  class="button button-block button-positive">
         Login
       </button>
       </div>
       
        <div>
         <button class="button button-block button-dark"  style="margin-top:10px">
              Sign Up
          </button>
        </div>
        <div>
            
         </div>-->
        
 <div class="row row-bottom" style="margin-top:300px">
     <img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg"  />
 </div>

 <div class="row" style="margin-top:130px" ng-click="Login()">
    <button  class="button button-block button-positive">
         Login
       </button>
 </div>
 <div class="row" style="margin-top:5px" ng-click="SignUp()">
 <button class="button button-block button-dark"  style="margin-top:10px">
              Sign Up
          </button>
 </div>

 <div class="row row-center" style="margin-top:15px">
      <div class="col col-center">
       By Signing Up you agree to the Terms of Services and Privacy Policy.
      </div>
      </div>
  
</ion-view>