 <ion-view class="splash_screen_bg">     
 <div class="row row-bottom" style="margin-top:100px">
     <img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg"  />
 </div>

 <div class="row" style="margin-top:130px" ng-click="Login()">
    <button  class="button button-block button-positive">
         Login
       </button>
 </div>
 <div class="row" style="margin-top:2px" ng-click="SignUp()" >
 <button class="button button-block button-dark"  style="margin-top:10px">
              Sign Up
          </button>
 </div>  
</ion-view>