<ion-view view-title="Login" name="login-view" class="signup_screen_bg">

      <div class="list list-inset" style="margin-top:300px">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="emailid">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="SignUpToAccount(emailid,password)">Sign Up</button>
       <div class="row row-center" style="margin-top:15px">
      <div class="signupAgreement">
       By Signing Up you agree to the Terms of Services and Privacy Policy.
      </div>
      </div>
</ion-view>